.Logo {
  color: #330844;
  text-align: center;
  margin-bottom: 10px;
  font-size: 45px;
  padding: 10px 20px;
}

.LogoAuth {
  animation: flow 30s ease-in-out infinite;
  background: linear-gradient(-60deg, #904e95, #904e95, #e73c7e, #ee7752);
  background-size: 200%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.LogoNav {
  animation: flow 30s ease-in-out infinite;
  background: linear-gradient(-60deg, #f9c5fd, #ce85d3, #e73c7e, #ee7752);
  background-size: 200%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes flow {
  0% {
    background-position: 0 50%;
  }

  25% {
    background-position: 100% 50%;
  }

  50% {
    background-position: 0 50%;
  }

  75% {
    background-position: -100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
