.Charts {
  z-index: -1;
  height: 100%;
  display: grid;
  grid-template-rows: 50% 50%;
  gap: 20px;
}

.Navbar {
  display: none;
}

@media screen and (max-width: 1100px) {
  .Charts {
    padding: 10px;
    height: calc(70vh);
  }
  .Navbar {
    display: block;
  }
}
