.Auth {
  height: 100vh;
  width: 100vw;
  display: flex;
  background: #330844;
  align-items: center;
  justify-content: center;
  animation: AnimationName 15s ease infinite;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
